/* ----------------------PROJECTS SECTION  -----------------------------------*/
#projects ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  > li {
    flex: 1;
    display: flex;
  }
  article {
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    background-color: var(--color-bg-main);
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      object-position: top center;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      flex-shrink: 0;
    }
    .project-content {
      background-color: var(--color-bg-main);
      padding: 1rem;
      flex-grow: 1;
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1rem;
        li {
          max-width: fit-content;
          background-color: var(--color-secondary);
          color: var(--color-text-secondary);
          padding: 0.25rem 0.8rem;
          border-radius: 1rem;
          font-size: 0.8rem;
        }
      }
    }

    .project-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      padding: 1.5rem;

      .btn-primary,
      .btn-secondary {
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--color-primary);
        font-weight: bold;
        padding: 0.5rem 1.2rem;
        border-radius: 0.5rem;
        text-align: center;
        transition: all 0.3s ease;
        flex: 1;

        &:hover {
          background-color: var(--color-primary-hover);
          color: var(--color-text-main);
        }
      }
      .btn-secondary {
        background-color: var(--color-accent);
        &:hover {
          background-color: var(--color-primary);
        }
      }
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}